@media (prefers-color-scheme: dark) {
	* {
		color: white;
	}
	
	body, textarea {
		background-color: #131313;
	}
	
	a, a * {
		color: #0094ff;
	}
	
	table.MultiLineTable tbody tr:nth-child(even) {
		background-color: #1f1f1f !important;
	}
	
	select {
		background-color: black;
	}
	
	code {
		background-color: black !important;
	}
	
	input, button {
		background-color: black;
		border-color: #313131;
	}
}